<!DOCTYPE html>
<html lang="{{ site.lang | default: 'pt-BR' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    {%- seo -%} <!-- SEO plugin -->

    {% include google-analytics.html %} <!-- GA4 -->

    <!-- CSS principal -->
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
  </head>
  <body>
    <header>
      {%- include header.html -%}
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      {%- include footer.html -%}
    </footer>
  </body>
</html>
